/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  color: #c20a72;
  font-weight: bold;
  font-size: 52px;
}

.heading {
  font-size: 52px;
}

.button {
  width: 142px;
  height: 38px;
  border-radius: 7px;
  border-width: 0px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.desc {
  font-size: 24px;
}


@media (max-width:767px){
  .bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  color: #c20a72;
  font-weight: bold;
  font-size: 52px;
}

.heading {
  font-size: 28px;
  text-align: center;
}

.button {
  width: 142px;
  height: 38px;
  border-radius: 7px;
  border-width: 0px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.desc {
  font-size: 16px;
}
}